.title-block-row {
    margin-bottom: .25rem;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}
.block-row {
    margin-bottom: .25rem;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}

.title-block{
    flex:1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.title-sum-block{
    flex:1 1 50%;
    padding:.5rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.section-block{
    background-color: #2a868c;
    padding:1%;
    box-sizing: border-box;
    margin-bottom: .5rem;
}

.inner-column{
    display: inline-block;
    /* flex-flow: column wrap;
    flex:1; */
    flex:0 0 50%;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 360px;
    /* justify-content: center;
    align-items: flex-start; */
    /* background-color: #fff; */


}
.inner-column-div{
    display: block;
    width:60%;
    min-width: 360px;

    margin:auto;
    border-bottom:thin solid #2a868c;
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    padding:1rem;
}
.form-section-header{
    background-color: #2a868c;
    width:100%;
    padding:.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
}
.input-div {
    padding:1rem;
    margin-bottom:.8rem;
}
.label-position{
    margin:auto;
}
.label-format{
    border-bottom:thin solid #d5dfed;
    padding:1.5rem 0;
}
.submit-div{
    width:100%;
    text-align: center;
    margin-bottom:.8rem;
}
.modal-content-block{
    flex:0;
    background-color: #fff;
}
@media screen and (max-width:430px){
    .inner-column-div{
        margin:.5rem 0;
    }
    .inner-column{
        flex:0 1 auto;
    }
    .modal-content-block{
        flex:0 0 80%;
        border-radius: 1rem;
    }
    .title-block, .title-sum-block {
        min-width: 420px;
        background-color: "blue"
    }
    .title-block-row {
        padding-top: 10vh;
        display:flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

}
