button {
    border: none;
    padding: .25rem .25rem;
    margin: 0;
    height:8vh;
    min-height: 40px;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.cardButton{
    width:100%;
    color:#0e15eb;
    background-color: #e4ebe4;
    padding:.5rem;
    border: 1px solid #e4ebe4;
    font-family: "RubikRegular"
}
.cardButton:hover, .cardButton:focus{
    border: 1px solid blue;
    color:blue;
    background-color: #fff;
}
.headerButton {
    background-color: #fff;
    padding:.1rem;
    min-height: 50px;
    box-sizing: border-box;
    width:100%;
    text-align: left;
    transition: all .1s;
}
.headerButton:active {
    background-color: #000;
    transform: scale(.98);
}

.navButtonHeader{
  min-height:7vh;
  font-family: "RubikRegular";
  letter-spacing: .2rem;
}
.navButton, .navButtonHeader{
    flex:0 1 auto;
    color:#091c1c;
    background-color: rgba(9, 41, 89, .6);
    border: thin solid #fff;
    padding:.5rem .5rem;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    height:auto;
}
.navButton:hover, .navButton:focus, .navButtonHeader:hover, .navButtonHeader:focus{
    border: 1px solid rgba(9, 41, 89, 1);
    color:rgba(9, 41, 89, 1);
    background-color:#fff;
}
.navButton:active,.navButtonHeader:active, .cardButton:active {
    transform: scale(.92)
}
.navButton:disabled, .navButtonHeader:disabled{
    opacity:0.5;
}
.formButton:hover, .formButton:focus{
    border: thin solid #091c1c;
    color:#091c1c;
    background-color:#c8dede;
    transform: scale(.98)
}
.sectionNavButton {
    flex:1 0 auto;
    font-family: "RubikRegular";
    text-transform:uppercase;
    color:blue;

}
.formButton, .formButtonTab{
    flex:0 0 19%;
    color:#091c1c;
}
.formButton, .formButtonTab, .sectionNavButton{
    box-sizing: border-box;
    /* color:#091c1c; */
    background-color: #fff;
    transition: all .15s;
    padding-left:.5rem;
    padding-right: .5rem;
    height:auto;
}
.formButtonSelect{
    flex:1 0 40%;
    box-sizing: border-box;
    color:#000;
    background-color: rgba(9, 41, 89, .6);
    transition: all .15s;
    padding-left:.5rem;
    padding-right: .5rem;
    height:auto;
    border: thin solid rgba(9, 41, 89, .6);
}
.formButtonSelect:hover , .formButtonSelect:focus{
    border: 1px solid rgba(9, 41, 89, 1);
    color:rgba(9, 41, 89, 1);
    background-color:#fff;
}
.sectionNavButton:hover, .sectionNavButton:focus,{
    border-radius:.25rem;
    border:thin solid blue;
}
.formButtonTab{
    border-radius-top-left:.25rem;
    border-top:thin solid #091c1c;
    border-left: thin solid #091c1c;
    border-right: thin solid #091c1c;
}
.formButtonBorder{
    border: thin solid #091c1c;
    margin:.1rem;
}
.formTabButtonBorder{
    border-bottom:thin solid #091c1c;
}
.formTabBorder{
    border-bottom:thin solid #091c1c;
    border-left: thin solid #091c1c;
    border-right: thin solid #091c1c;
}
.formButton:active, .formButtonSelect:active{
    transform: scale(.94)
}
@media screen and (max-width:780px){
    .sectionNavButton{
        flex:1 0 100%;
    }
}
