.footer-wrapper{
    position: relative;
    left:0;
    top:0;
    display: flex;
    flex-flow: row wrap;
    width:100%;
    justify-content: flex-start;
    box-sizing: border-box;
    border-top:thin solid red;
    align-items: stretch;

}
.footer-section-one{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 50%;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
}
.footer-section-two{
    display: inline-block;
    flex:1 1 50%;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.footer-label{
    display: inline-block;
    width:90%;
    padding:.5rem;
}
.footer-attribution{
  font-size: .9rem;
}
@media screen and (max-width:780px){
    .footer-wrapper {
        width:100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        background-color: #fff;
        box-sizing: border-box;

    }
    .footer-section-one{
        flex:1 0 100%;
        align-items: flex-start;
        margin-top: 1rem;

    }
    .footer-section-two{
        display: flex;
        flex:1 0 100%;
        min-height: 40px;
        /* background-color: red; */
    }
    .footer-label{
        width:100%;
        padding:.1rem .2rem;
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    .footer-attribution{
      font-size: .8rem;
    }

}
