.footer-wrapper{
    position: relative;
    left:0;
    top:0;
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    padding:.1rem;
    box-sizing: border-box;
    background-color: blue;
}
.footer-section-one{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 50%;
    box-sizing: border-box;
}
.footer-section-two{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 50%;
    box-sizing: border-box;
    align-items: center;
}
.footer-button-wrapper{
    display: none;
}
.footer-label{
    font-size: 1.2rem;
    display: inline-block;
}
@media screen and (max-width:430px){
    .footer-wrapper {
        width:100%;
        min-width:420px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        background-color: red;
        box-sizing: border-box;
    }
    .footer-section-one{
        flex:1 0 100%;
        background-color: rgba(4, 61, 61, 0.3);
    }
    .footer-section-two{
        display: flex;
        flex:1 0 100%;
        background-color: rgba(4, 61, 61, 0.3);
        min-height: 40px;
    }
    .footer-button-wrapper{
        display: block;
        margin-right: 1rem;
    }
    /* .footer-label{
        display: none;
    } */

}
