.App {
  text-align: center;
}
.outer-row{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}
.the-container {
    display: block;
    box-sizing: border-box;
    width:100vw;
    min-height: 100vh;
}
.motion-cont {
    box-sizing: border-box;
    display: block;
}
.modal-column-full-width{
    flex: 0 1 100%;
    display:flex;
    flex-flow: column;
    box-sizing: border-box;
    padding:.5rem;
    border-radius: .5rem;
}
.column-full-width{
    flex: 0 1 100%;
    display:flex;
    flex-flow: column;
    box-sizing: border-box;
    align-items: center;
    padding:.5rem;
    border-radius: .5rem;
}

.column-one {
    flex: 0 1 75%;
    display:flex;
    flex-flow: column;
    box-sizing: border-box;
    overflow: hidden;
}
.column-two {
    flex: 1 1 25%;
    display:flex;
    flex-flow: column;
    box-sizing: border-box;
}
.article-wrapper {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
}
.column-collapse{
    display:block;
    position:relative;
    top:0px;
    left:0px;
    justify-content: center;
    background-color: #fff;
}
.fixed-container{
    position: fixed;
    background-color: rgba(235, 221, 216, .5);
    z-index:101;
}
.fixed-cont-loc{
    display: flex;
    flex-flow: column;
    width:25%;
}
@media screen and (max-width:780px){
    .column-full-width, .column-one, .column-two, .motion-cont{
        min-width: 350px;
        flex:1 1 100%;
    }
    .article-wrapper{
        margin-top: 12vh;
    }
    .outer-row{
        flex-flow: row wrap;
    }
}
.block-wrapper-25{
    flex:1 0 25%;
    margin-bottom: .5rem;
}
.block-wrapper-50{
    flex:1 0 50%;
    margin-bottom: .5rem;
}
.block-wrapper-75{
    flex:1 0 75%;
    margin-bottom: .5rem;
}
.block-width-100{
    width:100vw;
    margin-bottom: .5rem;
}
