.header-wrapper, .section-header-wrapper{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    box-sizing: border-box;
}
.header-wrapper-border{
    border-bottom: medium solid red;
}
.section-header-wrapper{
    border-bottom: thin solid blue;
    border-top: thin solid blue;
    background-color: #fff;
    padding:1rem 1rem;
    align-items: center;

}
.header-wrapper{
    padding:.1rem;
    left:0;
    top:0;
    align-items: center;
}
.header-section-one{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 60%;
    box-sizing: border-box;
}
.header-section-two{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 30%;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;

}
.header-section-three{
    display: flex;
    margin: 20px;
    flex:0 1 30%;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
}
.header-button-wrapper{
    display: none;
}
.header-label{
    font-size: 1.2rem;
    flex:0 0 50%;
}
.icon-wrapper{
    margin: 0 .5rem;
    display: inline-block;
}
.closeMobileNav{
  display: none;
}
@media screen and (max-width:780px){
    .header-wrapper {
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        top:0;
        left:0;
        z-index:103;
        width:100vw;
    }
    .header-section-one{
        flex-flow: row wrap;
        justify-content: flex-start;
        flex:0 0 100%;
        background-color: #fff;
    }
    .header-section-two{
        display: flex;
        flex:1 1 50%;
        flex-flow:row nowrap;
        justify-content: flex-start;
        background-color: #fff;
        min-height: 40px;
    }
    .header-section-three{
        display: flex;
        flex:0 0 auto;
        box-sizing: border-box;

    }
    .icon-wrapper{
        margin: 0 .5rem;
        display: inline-block;
    }
    .header-button-wrapper{
        display: inline-block;
        margin-right: 1rem;
        /* margin-left: .8rem; */
    }
    .header-label{
        flex: 0 1 60%;
        /* background-color: red; */
    }
    .closeMobileNav{
      display: block;
      width:100%;
      text-align: center;
    }

}
