.header-wrapper{
    position: relative;
    left:0;
    top:0;
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    padding:.1rem;
    box-sizing: border-box;
}
.header-section-one{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 50%;
    box-sizing: border-box;
}
.header-section-two{
    display: flex;
    flex-flow: row wrap;
    flex:1 1 50%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}
.header-section-three{
    display: flex;
    margin: 20px;
    flex:0 0 auto;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}
.header-button-wrapper{
    display: none;
}
.header-label{
    font-size: 1.2rem;
    display: inline-block;
}
.icon-wrapper{
    margin: 0 .5rem;
    display: inline-block;
}
@media screen and (max-width:430px){
    .header-wrapper {
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        top:0;
        left:0;
        z-index:103
    }
    .header-section-one{
        flex-flow: row wrap;
        justify-content: flex-start;
        flex:0 1 100%;
        background-color: rgba(4, 61, 61, 0.3);
    }
    .header-section-two{
        display: flex;
        flex:1 1 100%;
        justify-content: flex-start;
        background-color: rgba(4, 61, 61, 0.3);
        min-height: 40px;
    }
    .header-section-three{
        display: flex;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: 50px;
    }
    .icon-wrapper{
        margin: 0 .5rem;
        display: inline-block;
    }
    .header-button-wrapper{
        display: inline-block;
        margin-right: 1rem;
        margin-left: .8rem;
    }
    .header-label{
        display: none;
    }

}
