@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong&display=swap');

:root {
    --modalBlue:rgba(9, 41, 89, 1);
    --tableBorderColor: #0a3d62;
    --tableLabelColor: #000;
    --tableDataColor: #000;
    --tableHeaderFontColor: #fff;
      --tableHeaderBackgroundColor:#0a3d62;
      --tableCellWidth:18%;
      --tableLabelWidth:64%;
      --coal:#282c34;
      --negColor:#e55039;
      --baseColor:#3c6382;
      --lightBlue:#82ccdd;
      --fadedLightBlue:rgba(130,204,221, .4);
      --warnColor:#e58e26;
      --baseRed:#b71540;
      --green:#00e640;
      --fadedRed:rgba(183,	21,	64, .3);
      --fadedCoal:rgba(10,25,50, .8);
      --headingColor:#464646;
      --paraColor:#36454f;
      --skillTableBorderColor: #0a3d62;
      --skillTableLabelColor: #000;
      --skillTableDataColor: rgba(106, 137, 204, 1);
      --skillTableHeaderFontColor: #fff;
      --skillTableHeaderBackgroundColor:rgba(106, 137, 204, 0.5);
      --skillTableCellWidth:70%;
      --skillTableLabelWidth:30%;
}
body {
  margin: 0;
  font-family: "Rubik",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
    font-family: 'Trirong', serif;
    font-size: calc(16px + 1vmin);
}
h1, h2, h3, h4, h5, h6, table, Body {
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    color:var(--headingColor);
    margin-top: 0;
}
p, ul, ol{
    color:var(--paraColor);
}
ul, li, ol {
font-family: 'Trirong', serif;
font-size: calc(17px + (19 - 16) * ((100vw - 400px) / (1600 - 400)));
color:var(--paraColor);
}
Body {
    font-size: calc(16px + 1vmin)
}
h1{
  font-size: calc(16px + 7vmin);
}
h2{
  font-size: calc(16px + 6vmin);
}
h3{
  font-size: calc(16px + 5vmin);
}
h4{
  font-size: calc(16px + 4vmin);
}
h5{
  font-size: calc(16px + 3vmin);
}
h6{
  font-size: calc(16px + 2vmin);
}
input + span {
  padding-right: 30px;
}
input[type=number]{
    width:10rem;
}
input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}
label > h6 {
    font-size: 1.2rem;
}
img{
  width:100%;
  height:auto;
}
.triron {
    font-family: "Trirong";
}
.rubik{
    font-family: "Rubik"
}
.pad-one-p {
    padding:1%;
}
.pad-half-rem{
    padding:.5rem;
    text-align: center;
}
.pad-point3-rem{
    padding-left:.6rem;
    padding-right:.6rem;
}
.pad-one-rem{
    padding:1rem;
}
.pad-top-one-rem{
    padding-top: 1rem;
}
.pad-bot-one-rem{
    padding-bottom: 1rem;
}
.marg-top-bot-point-five{
  margin:1.5rem 0;
}
.marg-half-rem{
  margin:.5rem 0;
}
.marg-one-rem{
    margin:1rem 1rem;
}
.marg-right-one-rem{
    margin-right: 1rem;
}
.marg-left-half-rem{
    margin-left: .5rem;
}
.height-100vh{
  min-height: 100vh;
}
.no-wrap{
    white-space: nowrap;
}
.border-top{
    border-top: thin solid #091c1c
}
.border-bottom{
    border-bottom: thin solid #091c1c
}
.border-bottom-black{
    border-bottom: thin solid black
}
.border-bottom-dotted{
    border-bottom: thin dotted #091c1c
}
.border-all-gray{
    border: thin solid #091c1c;
    border-radius: .5rem;
}
.border-light-gray{
  border:thin solid #e4ebe4;
}
.green-border{
    border-radius: .5rem;
    border:thin solid #2a868c;
}

.background-white{
    background-color: #fff;
}
.text-center{
    text-align: center;
}
.text-white {
    color:#fff;
}
.text-blue{
    color:blue;
}
.text-red{
  color:red;
}
.text-bold{
  font-weight: bold;
}
.display-inline-b{
    display: inline-block;
}
.display-block{
    display:block;
}
.bkgrnd-dark-grey {
    background-color: #091c1c;
}
.font-one-point-two{
    font-size: 1.2rem
}
.font-one-point-five{
    font-size: 1.5rem
}
.font-one-point-eight{
    font-size: 1.8rem
}
.font-point-nine{
    font-size: .9rem
}
.font-italics{
  font-style: italic;
}
.text-over{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.font-one-rem{
  font-size: 1rem;
}
.font-point-ninefive{
    font-size: .95rem
}
.scroll-x{
    overflow-x: scroll;
}
.row-no-wrap, .row-wrap, .row-wrap-stretch{
    display: flex;
}
.marg-top-one-rem{
    margin-top:1rem;
}
.row-no-wrap{
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    flex:1 1 100%;
}
.row-wrap{
    flex-flow: row wrap;
    flex:0 0 auto;
    justify-content: flex-start;
    align-items: center;
}
.row-wrap-stretch{
    flex-flow: row wrap;
    flex:0 0 auto;
    justify-content: space-around;
    align-items: stretch;
}
.flex-00-auto{
    flex: 0 0 auto;
}
.align-self{
  display: flex;
  flex-flow: column;
  align-self: center;
  width:80%;
  background-color: #fff;
  padding:1rem;
}
.acc-section{
  width:100%;
  display:block;
  /* background-color: red; */
  box-sizing: border-box;
}
.acc-header{
  color:#2980b9;
  padding:2%;
  border:1px solid #2980b9;
  width:100%;
  cursor: pointer;
  box-sizing: border-box;
}
.acc-row{
  flex-flow: row wrap;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.acc-cell{
    flex:0 0 24%;
    color:#2980b9;
    margin-right: .1rem;
    margin-bottom:.1rem;
    border:thin solid #2980b9;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    min-height:6vh;

    /* height:6vh; */


}
.flex-20{
  flex:1 1 20;
  background-color: #2980b9;


}
.w-100-p{
  width:100%;
}


.inputTall{
    font-size: 1.5rem;
}
@media screen and (min-width:360px) and (max-width:780px){

}

@media screen and (max-width: 360px){
  .acc-cell{
      flex:1 0 30%;
      color:#2980b9;
      margin-right: .1rem;
      margin-bottom:.1rem;
      padding:.1rem;
      border:thin solid #2980b9;
      font-size: .9rem;
      display: flex;
      flex-flow: column;
      text-align: center;
      justify-content: center;
      min-height:6vh;
      box-sizing: border-box;
      word-break: break-word;
  }
}
