@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong&display=swap');

:root {
    --modalBlue:rgba(9, 41, 89, 1);
    --tableBorderColor: #0a3d62;
    --tableLabelColor: #000;
    --tableDataColor: #000;
    --tableHeaderFontColor: #fff;
      --tableHeaderBackgroundColor:#0a3d62;
      --tableCellWidth:18%;
      --tableLabelWidth:64%;
      --coal:#282c34;
      --negColor:#e55039;
      --baseColor:#3c6382;
      --lightBlue:#82ccdd;
      --fadedLightBlue:rgba(130,204,221, .4);
      --warnColor:#e58e26;
      --baseRed:#b71540;
      --green:#00e640;
      --fadedRed:rgba(183,	21,	64, .3);
      --fadedCoal:rgba(10,25,50, .8);
      --headingColor:#464646;
      --paraColor:#36454f;
      --skillTableBorderColor: #0a3d62;
      --skillTableLabelColor: #000;
      --skillTableDataColor: rgba(106, 137, 204, 1);
      --skillTableHeaderFontColor: #fff;
      --skillTableHeaderBackgroundColor:rgba(106, 137, 204, 0.5);
      --skillTableCellWidth:70%;
      --skillTableLabelWidth:30%;
}
body {
  margin: 0;
  font-family: "Rubik",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
    font-family: 'Trirong', serif;
    font-size: calc(16px + 1vmin);
}
h1, h2, h3, h4, h5, h6, table, Body {
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    color:var(--headingColor);
    margin-top: 0;
}
p, ul, ol{
    color:var(--paraColor);
}
ul, li, ol {
font-family: 'Trirong', serif;
font-size: calc(17px + (19 - 16) * ((100vw - 400px) / (1600 - 400)));
color:var(--paraColor);
}
Body {
    font-size: calc(16px + 1vmin)
}
h1{
  font-size: calc(16px + 7vmin);
}
h2{
  font-size: calc(16px + 6vmin);
}
h3{
  font-size: calc(16px + 5vmin);
}
h4{
  font-size: calc(16px + 4vmin);
}
h5{
  font-size: calc(16px + 3vmin);
}
h6{
  font-size: calc(16px + 2vmin);
}
.triron {
    font-family: "Trirong";
}
.rubik{
    font-family: "Rubik"
}
.pad-one-p {
    padding:1%;
}
.pad-half-rem{
    padding:1rem;
    text-align: center;
}
.pad-one-rem{
    padding:1rem;
}
.marg-one-rem{
    margin:1rem 1rem;
}
.no-wrap{
    white-space: nowrap;
}
.text-center{
    text-align: center;
}
.text-white {
    color:#fff;
}
.display-inline-b{
    display: inline-block;
}
.bkgrnd-dark-grey {
    background-color: #2a868c;
}
.font-one-point-two{
    font-size: 1.2rem
}
.font-one-point-five{
    font-size: 1.5rem
}
.font-point-nine{
    font-size: .9rem
}
.font-point-ninefive{
    font-size: .95rem
}
.scroll-x{
    overflow-x: scroll;
}
.row-no-wrap{
    display: flex;
    flex-flow: row nowrap;
    flex:1 1 100%;
    justify-content: center;
    align-items: stretch;
}

.row-wrap{
    display: flex;
    flex-flow: row wrap;
    flex:0 0 auto;
    justify-content: flex-start;
    align-items: center;
}
