.nav-container {
    flex:0 1 100%;
    display: inline-block;
    margin-left: .5rem;
        
}
.nav-item {
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width:780px){
    .nav-item{
        flex-flow: row wrap;
    }
    .nav-container{
        flex:0 0 100%;
    }

}
